<form action="file" method="post" enctype="multipart/form-data">
    <input type="file" name="filetoupload">
    <input type="submit" value="Upload">
</form>
<a href="/"><button>back to home page</button></a>