<h1>image's sha 256 </h1>
<font size="5">the hash for <%=filename%> is <%=hash%></font>
<br><br>
<a href="/"><button>back to home page</button></a>
<br>
<a href="/image"><button>back to image upload page</button></a>